#table {
    
    margin: 0 auto; 
    padding: 20px;
    box-shadow: 10px 4px 4px 10px rgb(136,132,132);
    border-radius: 8px;
    border: 80px;
    border-color: black;
    margin-bottom: 5%;
    margin-top: 5%;
    
}



